<div class="main-container">
  <h1>New Game</h1>
  <p>What is the longest word you can find?</p>

  <ul class="list-group-horizontal-sm list-group">
    <% @letters.each do |letter| %>
      <li class="list-group-item mr-3 mb-3"><%=letter%></li>
    <% end %>
  </ul>

  <form class="form-inline" action="/games/score" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'letters', @letters %>
    <%= hidden_field_tag 'score', session[:score] %>
    <input class="form-control" type="text" name="word">
    <input class="btn btn-primary" type="submit" value="Play">
  </form>
</div>
